# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build

# Debug
npm-debug.log*

# Local env files
.env*.local
.env

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Misc
*.md
!README.md
